<<<<<<< HEAD
<% provide(:title, "Sign In") %>
<h1>Sign In</h1>
=======
<h1>Sessions Sign in</h1>
>>>>>>> fd93d8d470f2dd90da459cb99b177e1a7f15569a

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

<<<<<<< HEAD
      <%= f.submit "Sign In", class: "btn btn-large btn-primary" %>
    <% end %>

    </div>
=======
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
>>>>>>> fd93d8d470f2dd90da459cb99b177e1a7f15569a
</div>